header {
    background-color: #040714;
    width: 100%;
    height: 64px;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header:{
    background-color: black;
    top: 0;
    position: fixed;
}

.itens-header {
    display: flex;
    flex-direction: row;
}

#about {
    background-image: url('../images/Background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1024px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

#message-welcome {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
}


.logo {
    width: 50px;
    height: auto;
}

.text-paragraph-footer {
    font-size: 12px;
    color: gray;
}

.align-vertical {
    display: flex;
    flex-direction: row;
}

.organization-list {
    margin: 16px;
}

.organization-iten {
    margin: 8px;
}

.card-academic {
    background: #040714;
    width: 512px;
    height: 256px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-shadow: 8px 16px 32px 8px #040714;
}

.card-academic:hover {
    width: 520px;
    height: 264px;
    box-shadow: 16px 32px 64px 16px #040714;
}

footer {
    width: 100%;
    height: auto;
    background: #000000;
}

#copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: white;
    border-width: 1px 0px 0px 0px;
    border-style: groove;
}

#section-footer {
    margin: 64px 16px 0px 16px;
}
